# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

### Obkiectives:

    *List of popular languages for Data Science
    *List of commonly used libraries by Data Scienstist
    *Some arithmetics expressions using python

Some of the popular languages that Data Scientists use are:

    1.Python
    2.R
    3.SQL

Some of the commonly used libraries used by Data Scientists include:

    1.mapplotlip
    2.ggplot
    3.GGally


| Data Science Tools |
|--------------------|
|       MySQL        |
|       Kafka        |
|      PyTorch       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to multiply then add intigers
print((3*4)+5)

17

In [4]:
#This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print("hours:", hours)

hours: 3.3333333333333335

## Author
Arshak P T